html, body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titulo {
    text-align: center;
}

#tabla {
    text-align: center;
}

.cell {
    border: 3px solid #DDDDDD;
    cursor: pointer;
    display: inline-flex;
    margin: 5px;
    border-radius: 5px;
}
.cell.adivinada {
    border-color: blue;
}
.cell img {
    height: 100px;
    width: 100px;
    margin: 20px;
}
.cell:not(.ver) img {
    visibility: hidden;
}
