html, body {
	font-family: Calibri, sans-serif;
}

#titulo {
	text-align: center;
}

#opciones {
	display: flex;
	justify-content: space-around;
	font-size: 1.3em;
}

/* #btnReiniciar { } */

#tabla {
	text-align: center;
}

.row {
	display: block;
}

.cell {
	border: 3px solid #DDDDDD;
	background-color: #E3E3E3;
	cursor: pointer;
	display: inline-flex;
	margin: 5px;
	border-radius: 5px;
}

.cell.seleccionada {
	border-color: black;
}

.cell.adivinada {
	border-color: blue;
	background-color: inherit;
}

.cell.no-adivinada {
	border-color: red;
}

.cell img {
	height: 100px;
	width: 100px;
	margin: 20px;
}

.cell img {
	visibility: hidden;
}

.cell.adivinada img,
.cell.no-adivinada img,
.cell.seleccionada img {
	visibility: inherit;
}
